*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --header:90px
}

body{
  background-color: #00a981;
  font-size: 16px;
  font-family:"Open Sans", sans-serif;
}

.contenedor{
  max-width: 1600px;
  margin: 0 auto;
}

.header{
  
}

/* header */
.header__menu{
  height: var(--header);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list{
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.nav__item{
  display: flex;
  flex-direction: row;
}

.item__busqueda{
  display: flex;
  padding: 10px;
}

.item__compra{
  display: flex;
  padding: 10px;
}
/* primera seccion */
#inicio{
  background-image: url(fondo-1.png);
  width: 98vw;
  height: 113vh;
  background-repeat: no-repeat;
  
}
.contenedor__inicio{
  display: flex;
  padding: 269px 0px 0px 0px;
}

.informacion__uno{
display: flex;
flex-direction: column;
align-items: start;
}
.inicio__titulo1{
  color: white;
  /* text-transform: uppercase; */
  font-size: 100px;
  font-weight: 800;
}
.inicio__parrafo{
  padding: 0px 935px 0px 0px;
  font-weight: 800;
}
.informacion__dos{ 
display: flex;
}
.inicio__button{
  display: flex;
  padding-top: 20px;
}
.button1{
  background: #e6a9ad;
  padding: 12px 24px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  border: solid 3px;
  border-radius: 30px;
}
.button2{
  background: #00a981;
  padding: 12px 24px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  border: solid 3px;
  border-radius: 30px;
}
.inicio__down{
  display: flex;
  padding-top: 200px;
  color: white;
}
/* segunda seccion */
.comentario{
  background-image: url(fondo-2.png);
  width: 100vw;
  height: 122vh;
  background-repeat: no-repeat;
}
.contenedor__comentario{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 450px 350px 0px 350px;
}

.comentario__texto1{
  display: flex;
  padding-bottom: 20px;
  font-size: 20px;
  color: white;
}
.comentario__texto2{
  display: flex;
  padding-bottom: 20px;
  font-size: 90px;
  color: white;
  text-align: center ;
}
.comentario__parrafo{
  display: flex;
  padding:0px 231px 20px 247px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  text-align: center ;
}

/* tercera seccion */
.host{
  background-image: url(fondo-3.png);
  width: 100vw;
  height: 122vh;
  background-repeat: no-repeat;
}
.contenedor__host{
  display: flex;
  flex-direction: column;
}
.host__text{
  display:flex;
  padding: 290px 20px 20px 900px;
  color: wheat;
  font-size: 100px;
}
.host__parrafo{
  display:flex;
  padding: 22px 236px 41px 907px;
  color: rgb(0, 0, 0);
  font-size: 12px;
}
.host__button{
  display:flex;
  padding: 22px 236px 41px 907px;

}
/* cuarta seccion */
.spodcast{
  background-image: url(fondo_4.png);
  width: 100vw;
  height: 122vh;
  background-repeat: no-repeat;
}
.contenedor__spodcast{
  display: flex;
  flex-direction: column;
}
.spodcast__text{
  display: flex;
  padding: 398px 907px 41px 236px;
  color: wheat;
  font-size: 100px;
}
.spodcast__parrafo{
  display:flex;
  padding: 5px 1010px 41px 243px;
  color: rgb(0, 0, 0);
  font-size: 12px;
}
.spodcast__button{
  display: flex;
  padding:4px 42px 0px 240px;
}
/* quinta seccion */
.podcast{
  background-image: url(fondo-5.png);
  width: 100vw;
  height: 355vh;
  background-repeat: no-repeat;
}
.contenedor__podcast{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.podcast__text1{
  display: flex;
  color: white;
  font-size: 150px;
  text-align: center;
  justify-content: center;
  padding-top: 266px;
}
.podcast__uno{
  display: flex;
}

.uno_no{
  display: flex;
  flex-direction: column;
}

.uno__textos{
  display:flex;
  flex-direction: column;
  color:white;
}
.uno__titulo{
  display: flex;
  justify-content: end;
  font-size: 50px;
  padding: 399px 562px 0px 26px;
}
.uno__parrafo{
   display: flex;
  justify-content: end;
  font-size: 18px;
  padding: 24px 154px 0px 1004px;
  color: black;
}
.uno__button{
  display: flex;
  padding: 20px 154px 0px 1004px;
}
.end__text1{
   display: flex;
  padding: 20px 154px 0px 1004px;
  color: white;
}
.end__parrafo1{
  display: flex;
  padding: 20px 154px 0px 1004px;
}
/* aaaa */
.podcast__dos{
  display: flex;
}
.dos__textos{
  display:flex;
  flex-direction: column;
  color:white;
}
.dos__titulo{
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 431px 222px 6px 213px;
}
.dos__parrafo{
   display: flex;
  justify-content: end;
  font-size: 18px;
  padding: 24px 474px 0px 288px;
  color: black;
}
.dos__button{
  display: flex;
  padding: 20px 154px 0px 286px;
}
.end__text2{
   display: flex;
  padding: 20px 154px 0px 286px;
  color: white;
}
.end__parrafo2{
  display: flex;
  padding: 20px 154px 0px 286px;
}
/* aaa */
.podcast__tres{
  display: flex;
}
.tres__textos{
  display:flex;
  flex-direction: column;
  color:white;
}
.tres__titulo{
  display: flex;
  justify-content: end;
  font-size: 50px;
  padding: 1406px 726px 0px 31px;
}
.tres__parrafo{
   display: flex;
  justify-content: end;
  font-size: 18px;
  padding: 17px 606px 0px 33px;
  color: black;
}
.tres__button{
  display: flex;
  padding: 20px 16px 0px 30px;
    justify-content: start;
}
.end__text3{
   display: flex;
  padding: 20px 154px 0px 30px;
  color: white;
}
.end__parrafo3{
  display: flex;
  padding: 20px 154px 0px 30px;
}
/* sexta seccion */
/* septima seccion */
/* octava seccion */